body{
    background-color: navy;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
    font-weight: bold;
  }
.profile_box{
    display: table;
    width: 100%;
}
.profile_box > .row > .col-sm-2{
display: table-cell;
padding: 16px;
background-color: black;
color: white;
}
.profile_box > .row > .col-sm-2 > h1{
margin: auto;
}
.profile_box > .row > .col{
    display: table-cell;
    padding: 16px;
    color: white;
    background-color: #202427;
}
.profile_box > .row > .col-md-5{
    padding-left: 0px;
    padding-right: 0px; 
}
.profile_box > .row > .col-md-5 > img{
    max-width: 100%;
}